################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/LFA_Projeto1/.vs/LFA_Projeto1/v15/Server/sqlite3/storage.ide-wal
